<?xml version="1.0"?>
<config>
	<modules>
		<Flyt_OrderSender>
			<version>0.1.0</version>
		</Flyt_OrderSender>
	</modules>
	<frontend>
		<routers>
			<ordersender>
				<use>standard</use>
				<args>
					<module>Flyt_OrderSender</module>
					<frontName>ordersender</frontName>
				</args>
			</ordersender>
		</routers>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Flyt_OrderSender before="Mage_Adminhtml">Flyt_OrderSender_Adminhtml</Flyt_OrderSender>
					</modules>
					<frontName>ordersender</frontName>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<resources>
			
		</resources>
		<models>
			<ordersender>
				<class>Flyt_OrderSender_Model</class>
			</ordersender>
			<sales>
				<rewrite>
					<order>Flyt_OrderSender_Model_Sales_Order</order>
				</rewrite>
			</sales>
		</models>
		<helpers>
			<ordersender>
				<class>Flyt_OrderSender_Helper</class>
			</ordersender>
		</helpers>
		<events>
			<sales_order_place_after>
				<observers>
					<Flyt_OrderSender_Model_Observer>
						<type>singleton</type>
						<class>Flyt_OrderSender_Model_Observer</class>
						<method>sales_order_place_after</method> 
					</Flyt_OrderSender_Model_Observer> 
				</observers>
			</sales_order_place_after>
			
			<sales_order_status_after>
				<observers>
					<Flyt_OrderSender_Model_Observer>
						<type>singleton</type>
						<class>Flyt_OrderSender_Model_Observer</class>
						<method>sales_order_status_after</method>
					</Flyt_OrderSender_Model_Observer>
				</observers>
			</sales_order_status_after>
			
			<controller_action_predispatch>
				<observers>
					<Flyt_OrderSender_Model_Observer>
						<type>singleton</type>
						<class>Flyt_OrderSender_Model_Observer</class>
						<method>controller_action_predispatch</method> 
					</Flyt_OrderSender_Model_Observer> 
				</observers>
			</controller_action_predispatch>
		</events>
	</global>
</config>